h2 {
    color: red;
}

.card:hover {
    transform: scale(1.03);
    transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.card {
    transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}